# Ship only the LaC files, ignore everything else.
*
!*/
!/.gitignore
!/LICENSE
!/README.md
!/CHANGELOG.md
!/lac-setup.md
!/lac-update.sh
!/llm_compose.md
!/limits.md
!/commands.md
!/CLAUDE.md
!/.claude/settings.json
!/.claude/no-slop-scan.py
!/personas/base_persona.md
!/spells/noslop/noslop.md
!/grimoire/core/core.md
!/grimoire/Work/.gitkeep
!/grimoire/Study/.gitkeep
!/grimoire/Life/.gitkeep
!/grimoire/Hobbies/.gitkeep
!/trash/.gitkeep
