# Ship only the LaC files, ignore everything else.
*
!*/
!/.gitignore
!/LICENSE
!/README.md
!/CHANGELOG.md
!/lac-setup.md
!/lac-update.sh
!/llm_compose.md
!/limits.md
!/commands.md
!/CLAUDE.md
!/.claude/settings.json
!/.claude/no-slop-scan.py
